<!-- Event Block -->
<div class="event-list__container">
<ul class="event-list owl-carousel owl-theme">
  {% for event in craft.entries.section('event').orderby('eventDate').limit(3) %}
  <li>
    <a class="event-list__item" href="{{event.urlLink}}">
    {% for image in event.featureImage %}
      <img src="{{image.url('eventTeaser')}}" class="event-list__item__image" alt="{{image.title}}" />
    {% endfor %}
    <div class="event-list__item__text">
      <h6>{{event.eventDate|date("m/d/Y")}} @ {{event.startingTime|date("g:i a")}}</h6>
      <h5>{{ event.title}}</h5>
      <p>{{ event.summary}}</p>
    </div>
    </a>
  </li>
  {% endfor %}
  <!--<li>
    <a class="event-list__item" href="https://www.meetup.com/uxakron/events/242923154/">
    <img src="assets/img/design-team.jpg" class="event-list__item__image" alt="A design team works together at a table." />
    <div class="event-list__item__text">
      <h6>September 28, 2017 @ 6:30 p.m.</h6>
      <h5>Building &amp; Managing Design Teams </h5>
      <p>Join special guest K.Q. Dreger of Patriot Software to learn about his experience and advice for managing a design-driven software team.</p>
    </div>
    </a>
  </li>
  <li>
    <a class="event-list__item" href="https://www.meetup.com/uxakron/events/244201880/">
    <img src="assets/img/coffee.jpg" class="event-list__item__image" alt="Two people talk business over coffee." />
    <div class="event-list__item__text">
      <h6>Thurs, Oct. 26, 2017 @ 6:30 p.m.</h6>
      <h5>How Do I Get a Job in UX?</h5>
      <p>Are you currently trying to break into the field of user experience design? This power-packed presentation will offer tips and tactics to conducting a successful job search.</p>
    </div>
    </a>
  </li>
  <li>
    <a class="event-list__item" href="https://www.meetup.com/uxakron/events/237800339/">
    <img src="assets/img/workshop2.jpg" class="event-list__item__image" alt="A researcher ponders user experience deliverables." />
    <div class="event-list__item__text">
      <h6>PAST: June 24, 2017 @ 9:00 a.m.</h6>
      <h5>Super Simple UX Studies</h5>
      <p>Join us for a workshop on simple user experience techniques and studies. Held at the Kent State University Library and facilitated by Carol Smith of IBM.</p>
    </div>
    </a>
  </li>-->
</ul>
</div>
<!-- End Event Block -->
