<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UX Akron: User Experience Meetup Community in Northeast Ohio</title>
  <meta name="description" content="UX Akron is a non-profit meetup group that holds events for user experience professionals from Akron, Kent, Youngstown and Canton Ohio">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <head>
  <meta name="referrer" content="always">
  <meta name="keywords" content="default,global,comma-separated,keywords">
  <meta name="description" content="Join a meetup group of user experience professionals from Akron, Kent, Youngstown and Canton Ohio">
  <link rel="canonical" href="http://www.uxakron.com">
  <meta name="geo.placename" content="UX Akron">
  <meta name="dcterms.Identifier" content="http://www.uxakron.com">
  <meta name="dcterms.Format" content="text/html">
  <meta name="dcterms.Relation" content="UX Akron">
  <meta name="dcterms.Language" content="en">
  <meta name="dcterms.Publisher" content="UX Akron">
  <meta name="dcterms.Type" content="text/html">
  <meta name="dcterms.Coverage" content="http://www.uxakron.com">
  <meta name="dcterms.Rights" content="Copyright ©2017 UX Akron">
  <meta name="dcterms.Title" content="UX Akron: A User Experience Community in Northeast Ohio">
  <meta name="dcterms.Subject" content="default,global,comma-separated,keywords">
  <meta name="dcterms.Contributor" content="UX Akron">
  <meta name="dcterms.Date" content="2017-02-02">
  <meta name="dcterms.Description" content="Join a meetup group of user experience professionals from Akron, Kent, Youngstown and Canton Ohio">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_us">
  <meta property="og:url" content="http://www.uxakron.com">
  <meta property="og:title" content="UX Akron: A User Experience Community in Northeast Ohio">
  <meta property="og:description" content="Join a meetup group of user experience professionals from Akron, Kent, Youngstown and Canton Ohio">
  <meta property="og:image" content="http://www.uxakron.com/assets/img/uxakron-social.jpg">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="574">
  <meta property="og:image:height" content="659">
  <meta property="og:site_name" content="UX Akron">
  <meta property="fb:app_id" content="365157537199759" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@uxakron">
  <meta name="twitter:creator" content="@uxakron">
  <meta name="twitter:title" content="UX Akron: A User Experience Meetup Community in Northeast Ohio">
  <meta name="twitter:description" content="Join a meetup group of user experience professionals from Akron, Kent, Youngstown and Canton Ohio">
  <meta name="twitter:image" content="http://www.uxakron.com/assets/img/uxakron-social.jpg">
  <link type="text/plain" rel="author" href="/humans.txt">
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Corporation",
      "name": "UX Akron",
      "url": "http://www.uxakron.com",
      "location": {
          "@type": "Place",
          "name": "UX Akron",
          "url": "http://www.uxakron.com"
      }
  }
  </script>
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "UX Akron",
      "description": "",
      "url": "http://www.uxkaron.com",
      "image": "http://www.uxakron.com/assets/img/uxakron-social.jpg",
      "copyrightHolder": {
          "@type": "Corporation",
          "name": "UX Akron",
          "url": "http://uxakron.com",
          "location": {
              "@type": "Place",
              "name": "UX Akron",
              "url": "http://uxakron.com"
          }
      },
      "author": {
          "@type": "Corporation",
          "name": "UX Akron",
          "url": "http://www.uxakron.com",
          "location": {
              "@type": "Place",
              "name": "UX Akron",
              "url": "http://www.uxakron.com"
          }
      },
      "creator": {
          "@type": "Organization"
      }
  }
  </script>
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Place",
      "name": "UX Akron",
      "url": "http://www.uxakron.com"
  }
  </script>
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
          {
              "@type": "ListItem",
              "position": "1",
              "item": {
                  "@id": "http://www.uxakron.com",
                  "name": "Home"
              }
          }
      ]
  }
  </script>
  <style type="text/css">
    {% include '_includes/critical.css' %}
  </style>
</head>
