<nav class="nav__main">
<a class="nav__logo" href="{{siteUrl}}"><span>UX Akron</span></a>
<ul class="nav__list">
  <li class="nav__list-item">
    <a class="nav__list-item__link" href="https://www.meetup.com/uxakron/events/">Events</a>
  </li>
  <li class="nav__list-item">
    <a class="nav__list-item__link" href="https://www.meetup.com/uxakron">About</a>
  </li>
  <li class="nav__list-item">
    <a class="nav__list-item__link" href="https://www.paypal.me/uxakron">Support Us</a>
  </li>
</ul>
</nav>
