.main--smaller {
  margin-top:130px;
}

@keyframes drop {
	from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.body-nav-scrolled {
  margin-top: 340px;
  @media screen and (min-width: $medium) {
    margin-top: 430px;
  }
}


.main-nav-scrolled {
  height:70px;
  padding: .25em;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  box-shadow: inherit;
  opacity: .97;
  animation-name: drop;
	animation-duration: .7s;
  animation-fill-mode: both;
  .header__container a {
    display: inherit;
  }
  .header__container {
    text-align: center;
    @media screen and (min-width: $small) {
      text-align: left;
      max-width: 800px;
    }
  }
  .header__logo {
    width:50px;
    position:relative;
    padding: .25em;
    margin-left: inherit;
    top: 5px;
    margin-right: auto;
    @media screen and (min-width: $small) {
      margin-left: 0;
    }
  }
  .header__info {
    display: none;
  }
}
