.button, input[type=submit] {
  background-color: $mediumblue;
  padding: .5em 2em;
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-bottom: 2em;
  border: 1px solid white;
  &:hover, &:focus {
    background-color: darken($mediumblue, 5%);
  }
}

input[type=submit] {
  margin-top: 1em;
}

.button {
  margin-left: 2.2em;
  @media screen and (min-width: $small) {
    margin-left: 0;
  }
}
