footer {
  background-color: $cyan;
  color: white;
  h3 {
    &:after {
      border-color: $cyan transparent transparent transparent;
    }
  }
}

.footer__container {
  background-color: $darkblue;
  padding: 2.5em 2em 2em 2em;
}

.footer__link {
  color: white;
  text-decoration: none;
  display: block;
}

.footer__text {
  display: block;
  font-size: .8em;
  margin-top: 2em;
}
