footer {
  background-color: $darkblue;
  padding: 2em;
  color: white;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__text {
  display: block;
  font-size: .8em;
  margin-top: 2em;
}
