footer {
  background-color: $cyan;
  color: white;
}

.footer__container {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  background-color: $darkblue;
  padding: 2em;
}

.footer__link {
  color: white;
  text-decoration: none;
  display: block;
}

.footer__text {
  display: block;
  font-size: .8em;
  margin-top: 2em;
}
