.form__text {
  width: 100%;
  padding: .35em;
  margin-bottom: .5em;
}

form {
  width: 100%;
  @media screen and (min-width: $small) {
    width: 67%;
    margin-left: 34%;
  }
  @media screen and (min-width: $medium) {
    width: 69%;
    margin-left: 31%;
  }
}

label {
  margin-bottom: .3em;
  display: block;
  margin-top: .75em;
}

.form__fields {
  width: 100%;
}

.form__text__half {
  @media screen and (min-width: $small) {
    display: flex;
    justify-content: space-between;
  }
}

.form__text__half__field {
  @media screen and (min-width: $small) {
    width: 48%;
  }
}
