header {
  background-color: $cyan;
  color: white;
  background-image: url('../img/hex6.svg');
  background-size: 200% auto;
  padding: 2em;
  z-index:5;
  position:relative;
  @media screen and (min-width: $medium) {
    align-items: center;
    background-image: url('../img/hex6.svg');
    background-size: 200% auto;
    background-position: center center;
    padding: 4.5em 2em 7em 2em;
  }
}

.header__container {
  @media screen and (min-width: $small) {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  @media screen and (min-width: $medium) {
    max-width: 1000px;
  }
}

.header__info {
  @media screen and (min-width: $small) {
    margin-left: 13%;
  }
  @media screen and (min-width: $medium) {
    margin-left: inherit;
    margin-right: 0;
    width: 45%;
  }
}

.header__logo {
  width: 125px;
  @media screen and (min-width: 600px) {
    width: 250px;
  }
  @media screen and (min-width: $medium) {
    transform: scale(1.7);
    z-index: 50;
    margin-left: 11%;
    top: 1.9em;
    position: relative;
  }
}

.header__title {
  letter-spacing: 1px;
  font-size: 3.2em;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: .25em;
  @media screen and (min-width: $small) {
    font-size: 2.5em;
  }
  @media screen and (min-width: $medium) {
    width: 100%;
    margin-top: 0;
    font-size: 3.2em;
  }
}

.header__subtitle {
  font-weight: 300;
  font-size: 1em;
  margin-top: -.5em;
  line-height: 1.3;
  width: 80%;
  @media screen and (min-width: $small) {
    font-size: 1.1em;
    margin-top: 0;
    line-height: 1.4;
  }
  @media screen and (min-width: $medium) {
    margin-left: 0;
    margin-bottom: 0;
    width: 70%;
    font-size: 1.3em;
  }
}
