header {
  background-color: $cyan;
  color: white;
}

.header__container {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  background-image: url('../img/header-background.svg');
  background-size: cover;
  background-position: center center;
  padding: 2em 2em 3em 2em;
  @media screen and (min-width: $small) {
    padding: 3em 3em 3em 2em;
  }
  @media screen and (min-width: 1000px) {
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
  }
}

header .container {
  @media screen and (min-width: $small) {
    display: flex;
  }
}

.header__info {
  @media screen and (min-width: $small) {
    margin-left: 10%;
  }
}

.header__logo {
  width: 125px;
  @media screen and (min-width: 600px) {
    width: 150px;
  }
}

.header__title {
  letter-spacing: 1px;
  font-size: 2.1em;
  font-weight: 900;
  &:after {
    content:"";
    margin-top: .5em;
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
  }
}

.header__subtitle {
  font-weight: 300;
  font-size: 1.1em;
  margin-top: -1.8em;
  margin-left: 2em;
  line-height: 1.3;
  width: 60%;
  @media screen and (min-width: $small) {
    margin-top: inherit;
    margin-left: 0;
    width: inherit;
  }
}
