.photo-teaser {
  width: calc(100% + 4em);
  margin-left: -2em;
  color: $darkblue;
  background-color: white;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
  @media screen and (min-width: $small) {
    margin-bottom: 2em;
    margin: inherit 0;
    padding-top: 6em;
    padding-bottom: 2em;

  }
    h3 {
      &:after {
        border-color: rgba($cyan,.7) transparent transparent transparent;
      }
    }
}

.photo-teaser .container {
  @media screen and (min-width: $small) {
    display: flex;
  }
  @media screen and (min-width: $medium) {
    width: calc(100% + 4em);
  }
}

.photo-teaser__photo {
  padding-bottom: 2em;
  position: relative;
  @media screen and (min-width: $small) {
    width: 40%;
    padding-left: 2em;
  }
  @media screen and (min-width: $medium) {
    margin-left: -2em;
    width: 55%;
    padding-left: 0;
  }
  &:after {
    @media screen and (min-width: $small) {
      background-image: url(../img/image-shape.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      top: 0;
      left: 0;
      height: auto;
      content: "";
      width: 250px;
      height: 250px;
      position: absolute;
      z-index: -1;
    }
    @media screen and (min-width: $medium) {
      left: -20px;
      width: 425px;
      height: 425px;
    }
  }
}

.photo-teaser__text {
  padding: 0 2em;
  p {
    margin-left: 0;
  }
  .button {
    margin-left: 0;
  }
  @media screen and (min-width: $small) {
    padding-left: 3em;
    width: 60%;
  }
  @media screen and (min-width: $medium) {
    width: 45%;
  }
}
