$darkblue: #091A57;
$cyan: #005CB9;
$lightblue: #097AC0;
$mediumblue: #091A58;
$darkgray: #323232;
$lightgray: #F3F3F3;


// Breakpoints

$tiny: 500px;
$small: 600px;
$small-ish: 800px;
$medium: 1000px;
