<section class="container full-teaser">
  <h3>Mailing List</h3>
  {{>atoms-paragraph}}
  <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="form__fields">
      {{>molecules-form}}
      </div>
  <!--End mc_embed_signup-->
</section>
